* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }